
%% Update from oeprop
%% 20.04.2023, 10:07:54

##########################################################################
 ##                                                                      ##
 ##        Copyright (c) 1998-2017 by Progress Software Corporation      ##
 ##                                                                      ##
 ## All rights reserved.  No part of this program or document may be     ##
 ## reproduced in any form or by any means without permission in writing ##
 ## from Progress Software Corporation.                                  ##
 ##                                                                      ##
 ##########################################################################
 #
 # -------------------- openedge.properties ------------------------------
 #
 # Property File for the Pacific Application Server for OpenEdge
 #
 #
 # This definition file includes the properties that you can define in
 # a Pacific AppServer for OpenEdge.
 #
 # All information about the properties in this property file may be found
 # in the file:
 #
 #          openedge.properties.README.
 #
 ##########################################################################
 ##
 #
 # AppServer specific properties
 #
[AppServer]
    allowRuntimeUpdates=1
    applications=workshoppas
    collectMetrics=1
    statusEnabled=1

 #
 #  Default properties for Session Manager
 #
[AppServer.SessMgr]
    agentExecFile=${psc.as.oe.dlc}/bin/_mproapsv
    agentListenerTimeout=300000
    agentLogEntryTypes=
    agentLogFile=
    agentLoggingLevel=2
    agentStartLimit=1
    agentStartupParam=-T "${catalina.base}/temp"
    agentWatchdogTimeout=3000
    connectionWaitTimeout=3000
    defaultAgentWaitAfterStop=30000
    defaultAgentWaitToFinish=30000
    defrdLogEntryTypes=
    defrdLoggingLevel=0
    defrdLogNumLines=0
    idleAgentTimeout=1800000
    idleConnectionTimeout=300000
    idleResourceTimeout=0
    idleSessionTimeout=1800000
    ipver=IPv4
    maxABLSessionsPerAgent=200
    maxAgents=2
    maxConnectionsPerAgent=200
    minAgents=1
    numInitialAgents=1
    publishDir=${catalina.base}/openedge
    requestWaitTimeout=15000
    socketTimeout=3000
    tcpNoDelay=1

[AppServer.Agent]
    agentMaxPort=62202
    agentMinPort=62002
    agentShutdownProc=
    agentStartupProc=
    agentStartupProcParam=
    binaryUploadMaxSize=0
    collectStatsData=0
    fileUploadDirectory=
    flushStatsData=0
    infoVersion=9010
    lockAllExtLib=
    lockAllNonThreadSafeExtLib=
    minAvailableABLSessions=1
    numInitialSessions=5
    PROPATH=${CATALINA_BASE}/openedge,${DLC}/tty,${DLC}/tty/netlib/OpenEdge.Net.pl
    sessionActivateProc=
    sessionConnectProc=
    sessionDeactivateProc=
    sessionDisconnProc=
    sessionExecutionTimeLimit=0
    sessionShutdownProc=
    sessionStartupProc=
    sessionStartupProcParam=
    usingThreadSafeExtLib=
    uuid=
    workDir=${CATALINA_BASE}/work

[workshoppas]
    webApps=ROOT

[workshoppas.ROOT]
    allowRuntimeUpdates=1
    collectMetrics=1
    statusEnabled=1

[AppServer.Agent.workshoppas]
    numInitialSessions=2
    PROPATH=d:\dev\_pasoe\PASOE_Workshop-main,${CATALINA_BASE}/webapps/ROOT/WEB-INF/openedge,${CATALINA_BASE}/ablapps/workshoppas/openedge,${CATALINA_BASE}/openedge,${DLC}/tty,${DLC}/tty/netlib/OpenEdge.Net.pl
    uuid=http://IAP-560:8831/workshoppas

[workshoppas.ROOT.APSV]
    adapterEnabled=1
    enableRequestChunking=1
    oepingEnabled=0
    oepingProcedure=
    serviceFaultLevel=3
    useEnhancedConnected=0
    useHTTPSessions=1

[workshoppas.ROOT.SOAP]
    adapterEnabled=1
    adminEnabled=1
    adminSoapAction=urn:services-progress-com:wsa-admin:01
    debugClients=
    wsaUrl=http://${psc.as.host.name}:${psc.as.http.port}/soap
    wsdlEnabled=1

[workshoppas.ROOT.REST]
    adapterEnabled=1

[workshoppas.ROOT.WEB]
    adapterEnabled=1
    defaultCookieDomain=
    defaultCookiePath=
    defaultHandler=OpenEdge.Web.CompatibilityHandler
    srvrAppMode=development
    srvrDebug=1
    wsRoot=/static/webspeed
	handler1=WebHandler.HelloWorldWebHandler: /HelloWorld
	handler2=WebHandler.HelloWorldHtmlWebHandler: /HelloWorldHTML
	handler3=WebHandler.CustomersWebHandler: /Customers/{Custnum}
	handler4=WebHandler.CustomersWebHandler: /Customers
	

[AppServer.SessMgr.workshoppas]
    agentLogEntryTypes=ASPlumbing,DB.Connects
    agentLogFile=${catalina.base}/logs/workshoppas.agent.{yyyy-mm-dd}.log
	agentStartupParam=-T "${catalina.base}/temp" -d dmy -E -db d:\dev\_pasoe\db\sports2000.db 
	
	
